body{
    font-family: 'Century Gothic', 'Segoe UI', Tahoma, Geneva;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    text-align: center;
    position: fixed;
    top:0;
    height: 8%;
    width: 100%;
    z-index: 2;
    background-color: white
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
    padding-top: 20px;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    background-color:lightsteelblue    
}

ul{
margin: 0;
padding: 0;
}

.home{
    height: 100vh;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #050A52;
  }
  .home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .text-two{
    color: #FF8311;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .text-three{
    font-size: 40px;
    margin: 5px 0;
    color: #ffffff;
  }
  .home .text-four{
    font-size: 23px;
    margin: 5px 0;
    color: #f8f8f8;
    max-width: 40%;
  }

h2{
    text-align: center;
}
h1{
    text-align: center;
    font-size: 40px;
}

article{
width: 30%;
display: table-cell;
text-align: center;
background-color: #7A2147;
color: white;
}


.identitas{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#profile{

}

#education{

}

#identity{
  background-color: #050A52;
}

#project{
margin-top: 60px;
background-color: #7A2147;
;
}

#isiproject{
background-color: white;
}

#contact{
padding-top: 40px;
padding-bottom: 40px;
}



