html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Century Gothic', 'Segoe UI', Tahoma, Geneva;
  width: 100%;
  margin: 0;
}
nav{
  text-align: center;
  position: fixed;
  top:0;
  height: 66px;
  width: 100%;
  z-index: 2;
  background-color: white
}

ul{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Comic Sans Ms', 'Poppins', 'Montserrat', 'Josefin Sans', 'Century Gothic';
}

li{
  list-style-type: none;
  display: inline-block;
  padding-right: 90px;
  padding-top: 18px;
  width: 155px;
  height: 30px;
}

a{
  color: #000000;
  text-decoration: none;
}

.sec1{
  padding-top: 66px;
  height: 1024px;
  background-color: #F4E8C1;
}

.home .profileimage{
width: 100px;
}

.home{
display: flex;
justify-content: center;
padding-right: 132px;
padding-top: 265px;
padding-bottom: 265px;
}

.home .home-text{
  padding-right: 54px;
  padding-left: 133px;
}
.home-text h1{
  font-family: 'Dearest', 'Josefin Sans', 'Tw Cen MT';
  font-size: 90px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 11px;
}

.home-text h2{
  font-family: 'Poppins','Montserrat','Comic Sans Ms';
  font-size: 35px;
  margin: 0;
  padding-bottom: 11px;
}

.home-text h3{
  font-family:'Truelove', 'Gill Sans MT', 'Tw Cen MT';
  font-size: 30px;
  margin-top: 0;
  width: 600px;
  height: 167px;
  margin-bottom: 0;
}

.contact-button{
width: 192px;
height: 55px;
border-radius: 20px;
border: 2px solid black;
font-weight: bolder;
font-size: 25px;
transition: 0.3s ease-in-out;
cursor: pointer;
font-family: 'Poppins', 'Montserrat', 'Lucida Sans' ;
}

.contact-button:hover{
  background-color:rgb(129, 178, 241)    
}

.sec2{
  height: 1024px;
  background-color: #A0C1B8;
}

.profile-head{
background-color: white;  
font-family: 'Dearest', 'Josefin Sans', 'Tw Cen MT';
padding-top: 36px;
padding-bottom: 36px;
}

.profile-head h1{
margin: 0;
text-align: center;
font-size: 100px;
}

.profile-image{
margin: 0;
padding-top: 80px;
padding-left: 42px;
}

.profile-content{
display: flex;
justify-content: center;
font-size: 40px;
font-family: 'coda';
}

.profile-contenttop{
width: 440px;
height: 419px;
padding-left: 43px;
padding-right: 43px;
text-align: center;
padding-top: 179px;
padding-bottom: 179px;
}

.profile-contenttop h2{
  margin: 0;
  font-family: 'Montserrat', 'Poppins', 'Lucida Sans';
}

.profile-contenttop h3{
  font-family:'Truelove', 'Gill Sans MT', 'Tw Cen MT';
  font-size: 22px;
  margin-top: 50px;
}

.profile-contentbot h2{
  margin: 0;
  font-family: 'Montserrat', 'Poppins', 'Lucida Sans';
}

.profile-contentbot h3{
  font-family: 'Montserrat', 'Poppins', 'Truelove';
  font-size: 32px;
}

.profile-contentbot{
  width: 467px;
  height: 419px;
  padding-left: 114px;
  text-align: left;
  padding-top: 179px;
  }
.profile-contenttop .profile-text{
  padding-top: 23px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile-contentbot h3{
 padding-top: 50px;
 font-size: 32px;
 margin-bottom: 50px;
}

.prof-soc a{
padding-right: 20px;
}

a:hover{
  background-color: #A0C1B8;
}
.sec3{
  height: 1024px;
  background-color: #F4E8C1;
}

.education-head h1{
  height: 127px;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
  padding-top: 40px;
  font-size: 70px;
  font-family: 'Dearest', 'Josefin Sans', 'Tw Cen MT';
  text-align-last: center;
  background-color: white;
}

.education-content{
  display: flex;
  justify-content: center;
}

.education-text{
margin: 0;
margin-left: 74px;
padding-top: 85px;
font-size: 40px;
font-family:'Truelove', 'Gill Sans MT', 'Tw Cen MT';
}

.education-text p{
  height: 93.39px;
  margin-top: 34.51px;
  margin-bottom: 0;
  font-weight: bolder;
}

.sec4{
  height: 1024px;
  background-color: #A0C1B8;
  text-align: center;
}

.project-head{
background-color: white;
height: 146px;
}

.project-head h1{
font-size: 90px;
font-family: 'Dearest', 'Josefin Sans', 'Tw Cen MT';
margin: 0;
padding-top: 28px;
}

.project-content{
  display: flex;
  justify-content: space-between;
  padding-right: 186px;
  padding-left: 186px;
}
.project-content .project{
  height: 80px;
  margin-top: 147px;
  margin-bottom: 0;
}

.project{
  font-size: 70px;
  font-family: 'Dearest','Century Gothic';
}
.projectdetails{
  font-size: 30px;
  font-family: 'Century Gothic', 'Dearest';
  margin-top: 0;
  margin-bottom: 0;
  width: 250px;
  height: 40px;
  padding-top: 24px;
  padding-bottom: 147px;
  padding-left: 10px;
  padding-right: 10px;
 }

.sec5{
  height: 1024px;
  background-color: #ffffff;
}

.project1-cont{
display: flex;
justify-content: center;
padding-right: 67px;
padding-left: 67px;
padding-top: 77px;
padding-bottom: 77px;
text-align: center;
}

.project1-text{
  background-color: #D9D9D9;
  width: 584px;
  height: 840px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project1-text h1{
  margin-bottom: 0;
  font-size: 60px;
  font-family: 'Coda', 'Montserrat', 'Maiandra GD';
}

.project1-text h2{
  margin-top: 0;
  font-size: 40px;
  font-family: 'Montserrat', 'Poppins', 'Lucida Sans';
}

.project1-text p{
  margin:0;
  font-size: 30px;
  font-family:  'Truelove', 'Coda' , 'Montserrat', 'Tw Cen MT', 'Gill Sans MT';
}

.project1-img{
  width: 585px;
  height: 280px;
  padding-right: 124px;
}

.sec6{
  height: 1024px;
  background-color: #ffffff;
}

.project2-cont{
  display: flex;
  justify-content: center;
  padding-right: 67px;
  padding-left: 67px;
  padding-top: 77px;
  padding-bottom: 77px;
  text-align: center;
  }
  
  .project2-text{
    background-color: #D9D9D9;
    width: 584px;
    height: 840px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .project2-text h1{
    margin-bottom: 0;
    font-size: 60px;
    font-family: 'Coda', 'Montserrat', 'Maiandra GD';
  }
  
  .project2-text h2{
    margin-top: 0;
    font-size: 40px;
    font-family: 'Montserrat', 'Poppins', 'Lucida Sans';
  }

  .project2-text p{
    margin:0;
    font-size: 30px;
    font-family:  'Truelove', 'Coda' , 'Montserrat', 'Tw Cen MT', 'Gill Sans MT';
  }
  
  .project2-img{
    width: 585px;
    height: 280px;
    padding-right: 124px;
  }

.sec7{
  height: 1024px;
  background-color: #ffffff;
}

.project3-cont{
  display: flex;
  justify-content: center;
  padding-right: 67px;
  padding-left: 67px;
  padding-top: 77px;
  padding-bottom: 77px;
  text-align: center;
  }
  
  .project3-text{
    background-color: #D9D9D9;
    width: 584px;
    height: 840px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .project3-text h1{
    margin-bottom: 0;
    font-size: 60px;
    font-family: 'Coda', 'Montserrat', 'Maiandra GD';
  }
  
  .project3-text h2{
    margin-top: 0;
    font-size: 40px;
    font-family: 'Montserrat', 'Poppins', 'Lucida Sans';
  }

  .project3-text p{
    margin:0;
    font-size: 30px;
    font-family:  'Truelove', 'Coda' , 'Montserrat', 'Tw Cen MT', 'Gill Sans MT';
  }
  
  .project3-img{
    width: 585px;
    height: 280px;
    padding-right: 124px;
  }

.sec8{
  height: 1024px;
  background-color: #ffffff;
}
.project4-cont{
  display: flex;
  justify-content: center;
  padding-right: 67px;
  padding-left: 67px;
  padding-top: 77px;
  padding-bottom: 77px;
  text-align: center;
  }
  
  .project4-text{
    background-color: #D9D9D9;
    width: 584px;
    height: 840px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .project4-text h1{
    margin-bottom: 0;
    font-size: 60px;
    font-family: 'Coda', 'Montserrat', 'Maiandra GD';
  }
  
  .project4-text h2{
    margin-top: 0;
    font-size: 40px;
    font-family: 'Montserrat', 'Poppins', 'Lucida Sans';
  }

  .project4-text p{
    margin:0;
    font-size: 30px;
    font-family:  'Truelove', 'Coda' , 'Montserrat', 'Tw Cen MT', 'Gill Sans MT';
  }
  
  .project4-img{
    width: 585px;
    height: 280px;
    padding-right: 124px;
  }

.sec9{
  height: 1024px;
  background-color: #A0C1B8;
}

.sec9 h2{
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
  font-size: 70px;
  font-family: 'Dearest', 'Josefin Sans', 'Tw Cen MT';
}

form{
  padding-top: 52px;
  display: block;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.name #name{
width: 468px;
height: 35px;
border-radius: 10px;
margin-bottom: 54px;
padding-left: 10px;
margin-left: 35px;
padding-right: 10px;
}

.form .label{
font-size: 26px;
font-family:'Poppins', 'Montserrat','Century Gothic';
}


.email #email{
  width: 468px;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 54px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 45px;
}
.location #location{
  width: 468px;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 54px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
}
  
.message #message{
  width: 600px;
  height: 300px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.submitbutton{
width: 130px;
height: 35px;
border-radius: 10px;
margin-top: 36px;
transition: 0.3s ease-in-out;
cursor: pointer;
font-size: 25px;
font-family: 'Poppins', 'Montserrat', 'Century Gothic';
}

.message .label{
  margin-right: 490px;
}

.sec10{
  height: 100px;
}

.social{
  margin-right: 410px;
  margin-left: 410px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.submitbutton:hover{
    background-color:rgb(129, 178, 241)    
}

.social a:hover{
  background-color: white;
}

